.about {
  display: grid;
  grid-template-columns: 16% 80%;
  max-width: 122rem;
  margin: 0 auto;
  margin-top: 7rem;
  min-height: 44rem;
  margin-bottom: 1rem;

  @media (max-width: $tablet-width) {
    max-width: 77rem;
    grid-template-columns: 27% 73%;
    margin-top: 4rem;
    margin-bottom: 0;
  }

  @media (max-width: $mobile-width) {
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    height: 100%;
    padding-right: 0;
    padding-left: 1.5rem;
    min-height: 56rem;
  }
}

.about__image {
  margin-top: 4rem;

  @media (max-width: $tablet-width) {
    width: 100%;
    height: 100%;
    margin-top: 1rem;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.about__image img {
  @media (max-width: $tablet-width) {
    width: 251px;
    height: 361px;
  }
}

.about__text {
  color: $black;
  overflow: hidden;

  @media (max-width: $tablet-width) {
    padding-right: 2rem;
  }

  @media (max-width: $mobile-width) {
    padding-right: 1rem;
  }
}

.about__text h2 {
  font-size: 36px;
  line-height: 51px;
  margin-bottom: 2.5rem;
  margin-left: 1rem;

  @media (max-width: $tablet-width) {
    font-size: 32px;
    line-height: 45px;
    margin-top: 1rem;
    margin-left: 0;
  }

  @media (max-width: $mobile-width) {
    font-size: 28px;
    line-height: 39px;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
}

.about__text p {
  font-size: 16px;
  line-height: 22px;
  font-family: "PT Mono", "Arial", monospace;

  @media (max-width: $tablet-width) {
    padding-left: 1rem;
    margin-bottom: 2rem;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 3.5rem;
    padding-left: 0;
  }
}

.about__text span {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.about__text a {
  display: inline-block;
  margin-top: 2.5rem;
  vertical-align: middle;
  color: $primary;
  border: 1px solid $primary;
  border-radius: 5px;
  padding: 1.2rem 4.7rem;
  text-transform: uppercase;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  margin-left: 1rem;

  @media (max-width: $mobile-width) {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    margin-top: 0;
  }

  &:hover,
  &:focus {
    background-color: $primary;
    color: white;
  }

  &:active {
    background-color: darken($primary, 20%);
  }
}
