.facts {
  max-width: 116rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 5rem;
  grid-gap: 3.5rem;

}

.facts__item {
  border-left: 3px solid $primary;
  padding-left: 4.7rem;
  padding-top: 4rem;
  padding-bottom: 4rem;


  &:hover,
  &:focus {
    background-color: $primary;
    cursor: pointer;
  }

}

.facts__item svg {
  fill: $primary;
}

.facts__item:hover svg {
  fill: white;
}

.facts__item:hover h2,
.facts__item:focus h2 {
  color: white;
}

.facts__item:hover p,
.facts__item:focus p {
  color: white;
}

.facts__item h2 {
  font-size: 24px;
  line-height: 34px;
  color: $primary;

}

.facts__item p {
  font-size: 16px;
  line-height: 22px;
  color: $black;
  font-family: "PT Mono";
}
