.feedback {
  background-color: $primary;
  height: 66rem;
  position: relative;

  @media (max-width: $mobile-width) {
    height: 63rem;
  }

  &::after {
    content: "";
    background-image: url(".././img/triangles.svg");
    position: absolute;
    background-size: cover;
    width: 37rem;
    height: 67rem;
    right: 0;
    top: 3rem;
    background-repeat: no-repeat;
    z-index: 0;

    @media (max-width: $tablet-width) {
      display: none;
    }
  }
}

.feedback__wrapper {
  display: grid;
  grid-template-columns: minmax(300px, 685px) minmax(300px, 630px);
  grid-template-rows: 1fr;
  max-width: 157rem;
  margin: 0 auto;
  grid-gap: 11rem;

  @media (max-width: $tablet-width) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0;
    max-width: 59rem;
  }

  @media (max-width: $mobile-width) {
    max-width: 288px;
  }
}

.form {
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
  column-gap: 4rem;
  position: relative;
  margin-top: 5rem;

  @media (max-width: $mobile-width) {
    margin-top: 2.5rem;
  }
}

.feedback__image {
  margin-top: -6.5rem;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.feedback__image img {
  width: 100%;
}

.feedback__text {
  color: white;
  margin-top: 6rem;
  max-width: 58rem;

  @media (max-width: $tablet-width) {
    margin-top: 5rem;
  }

  @media (max-width: $mobile-width) {
    margin-top: 0;
  }
}

.feedback__text h2 {
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  margin-bottom: 0;

  @media (max-width: $tablet-width) {
    font-size: 32px;
  }

  @media (max-width: $mobile-width) {
    font-size: 28px;
    line-height: 39px;
  }
}

.feedback__text p {
  font-size: 16px;
  line-height: 22px;
  font-family: "PT Mono", "Arial", monospace;
  margin-top: 1rem;
  padding-left: 0.5rem;
}

.form input:not(input[type="checkbox"]) {
  height: 5rem;
  width: 27rem;
  background-color: #02b4ff;
  border: none;
  color: white;
  font-family: inherit;
  padding-left: 2rem;
  padding-top: 1rem;
  font-size: 16px;

  @media (max-width: $mobile-width) {
    width: 100%;
    margin-bottom: 3rem;
  }

  &:hover,
  &:focus {
    background-color: darken($primary, 5%);
  }

  &::placeholder {
    font-size: 16px;
    line-height: 22px;
    color: white;
    opacity: 1;
    font-family: "PT Mono", "Arial", monospace;
  }
}


.form textarea {
  display: inline-block;
  vertical-align: middle;
  height: 15rem;
  width: 100%;
  resize: none;
  background: #19baff;
  padding-left: 2rem;
  border: none;
  color: white;
  font-family: inherit;
  font-size: 16px;
  line-height: 22px;
  margin-top: 5rem;
  padding-top: 1rem;
  margin-bottom: 5rem;

  @media (max-width: $mobile-width) {
    margin-top: 1rem;
    height: 10rem;
    margin-bottom: 3rem;
  }

  &:hover,
  &:focus {
    background-color: darken($primary, 5%);
  }

  &::placeholder {
    font-size: 16px;
    line-height: 22px;
    color: white;
    opacity: 1;
    font-family: "PT Mono", "Arial", monospace;
  }
}

.form button {
  height: 4.5rem;
  width: 27rem;
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  border: 1px solid white;
  margin-left: 0.5rem;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;

  @media (max-width: $mobile-width) {
    width: 100%;
  }

  &:hover,
  &:focus {
    background-color: $white;
    color: $primary;
    cursor: pointer;
  }
}

.form input[type="checkbox"] {
  position: absolute;
  appearance: none;
  font-size: 14px;
  line-height: 16px;
  color: white;
  opacity: 0.8;
  margin-right: 2rem;
}

.form input[type="checkbox"]:checked + span {
  background-image: url(".././img/checkon.svg");
}

.form input[type="checkbox"]:focus + span {
  background-image: url(".././img/checkoff.svg");
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2), 0 0 0 3px rgba(255, 255, 255, 0.7);
}

.form input[type="checkbox"]:focus:checked + span {
  background-image: url(".././img/checkon.svg");
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2), 0 0 0 3px rgba(255, 255, 255, 0.7);
}

.form span {
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url(".././img/checkoff.svg");
  margin-left: -3rem;
  cursor: pointer;
}

.form label {
  font-family: "PT Mono", "Arial", monospace;
  font-size: 14px;
  line-height: 16px;
  max-width: 25rem;
  margin-top: -1rem;
  position: absolute;
  bottom: 1rem;
  right: -2.5rem;
  cursor: pointer;

  @media (max-width: $tablet-width) {
    max-width: 260px;
    bottom: 0;
  }

  @media (max-width: $mobile-width) {
    max-width: 260px;
    bottom: -7rem;
    right: 0;
  }
}
