.footer__wrapper {
  display: grid;
//  grid-template-columns: minmax(300px, 42rem) 1.5fr 1fr;
  grid-template-columns: 30% 50% 24%;

  border-bottom: 1px solid #626962;
  max-width: 140rem;
  margin: 0 auto;
  padding-top: 5rem;

}

.footer__item--links a {
   &:hover,
  &:focus {
    color: $primary;
    opacity: 1;

  }
}

.footer__item--down {
  display: flex;
  justify-content: space-between;
  outline: 5px solid red;
  max-width: 141rem;
  margin: 0 auto;
}

.footer__item-intro {

  display: grid;
  grid-template-columns: min-content 1fr;
  grid-column-gap: 2rem;
  padding-top: 1rem;
}
.footer__item-intro a {
  grid-row: span 2;
}

.footer__item-intro b {
  margin-top: 1rem;
  margin-bottom: 0;
}

.footer__item-intro p {
  margin-top: 0;

}
.footer__item b {
  font-size: 25px;
  line-height: 29px;
  color: #203C42;

}

.footer__item-socials {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  outline: 5px solid red;
  margin-top: 4rem;
  grid-gap: 1.5rem;

}

.footer__item-socials svg {
  opacity: 0.5;

  &:hover,
  &:focus {
//    background-color: $primary;
    fill: $primary;
    opacity: 1;
  }
}

.footer__item h2 {
  font-size: 15px;
line-height: 16px;


letter-spacing: 0.05em;
text-transform: uppercase;

color: #1B2D37;
}

.footer__item p {
  font-size: 15px;
line-height: 15px;
  color: #1B2D37;
  opacity: 0.5;
}

.footer__item ul {
  list-style: none;
  padding-left: 0;
//  list-style-position: inside;
  opacity: 0.5;
  column-count: 2;
  margin-top: 2.5rem;

  outline: 5px solid red;


}

.footer__item a {
  color: #1B2D37;
  font-size: 15px;
  line-height: 25px;
  font-family: "PT Mono";

color: #1B2D37;

opacity: 0.5;
}


.footer__item--office {
  margin-left: -5rem;

  outline: 5px solid red;
}

.footer__item--office h2 {
  margin-bottom: 3rem;
}

.footer__item--office p {
font-family: "PT Mono";
  font-size: 15px;
line-height: 25px;
/* or 167% */


color: #1B2D37;

opacity: 0.5;

}



