.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 86vh;
  max-width: 88rem;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    height: 72vh;
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    height: 77.5vh;
  }
}

.intro__description {
  max-width: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30rem;

  @media (max-width: $tablet-width) {
    max-width: 60%;
  }

  @media (max-width: $mobile-width) {
    max-width: 90%;
  }
}

.intro__logo {
  width: 7rem;
  height: 2rem;

  @media (max-width: $tablet-width) {
    height: 3rem;
  }
}

.intro__logo--tablet {
  @media (max-width: $tablet-width) {
    position: absolute;
    left: 21px;
  }
}

.intro__form {
  display: flex;
  flex-direction: column;
  max-width: 32.5rem;
  gap: 2rem;
  height: 29rem;

  @media (max-width: $tablet-width) {
    max-width: 32rem;
  }

  @media (max-width: $mobile-width) {
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 31rem;
  }
}

.intro__description h1 {
  color: $white;
  font-weight: 600;
  font-size: 46px;
  line-height: 64px;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;

  @media (max-width: $tablet-width) {
    max-width: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 42px;
    padding-top: 11.5rem;
  }

  @media (max-width: $mobile-width) {
    padding-top: 10rem;
  }
}

.intro__description p {
  color: $white;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.005em;
  opacity: 0.8;
  margin-top: 0;
  margin-bottom: 3rem;

  @media (max-width: $tablet-width) {
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 6rem;
  }

  @media (max-width: $mobile-width) {
    margin-left: 0;
    margin-bottom: 0;
  }
}

.intro__form h2 {
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.007em;
  color: $white;
  margin: 0;

  @media (max-width: $tablet-width) {
    margin-bottom: 1rem;
    font-size: 18px;
    color: black;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 0;
  }
}

.intro__form input {
  height: 5rem;
  padding-left: 3rem;
  background: $white;
  border: 1px solid #c9ccd4;
  box-sizing: border-box;
  border-radius: 6px;

  &:hover,
  &:focus {
    background: darken($white, 25%);
    outline: none;
  }

  @media (max-width: $tablet-width) {
    padding-left: 2rem;
    border-radius: 4px;
  }

  &::placeholder {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: #1c1c1c;
    opacity: 0.5;
  }
}

.intro__form button {
  height: 5rem;
  background-color: $primary;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  font-family: inherit;
  border-radius: 6px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: darken($primary, 15%);
  }

  &:active {
    background-color: lighten($primary, 15%);
  }
}
