.intro {
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  padding-top: 1rem;
  max-width: 156rem;
  height: 84rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;

  @media (max-width: $tablet-width) {
    height: 61rem;
    max-width: 100%;
    grid-template-columns: 67% 33%;
  }

  @media (max-width: $mobile-width) {
    grid-template-columns: 1fr;
    grid-template-rows: 36% 64%;
    grid-gap: 0;
    height: 62rem;
  }

  &::after {
    content: "";
    position: absolute;
    overflow: hidden;
    background-image: url(".././img/triangles__intro.svg");
    width: 670px;
    height: 64rem;
    right: 4rem;
    top: 3rem;
    z-index: -1;

    @media (max-width: $tablet-width) {
      width: 527px;
      height: 570px;
      top: -14rem;
      right: -20rem;
      background-size: 100% 100%;
    }

    @media (max-width: $mobile-width) {
      width: 527px;
      height: 533px;
      top: -14rem;
      right: -35rem;
      background-size: 100% 100%;
    }
  }
}

.intro__link {
  background-color: transparent;
  border: none;
  color: white;
  font-family: "PT Mono", "Arial", monospace;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.5;
  transform: rotate(-90deg);
  position: absolute;
  bottom: 18rem;
  left: 3.5rem;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.intro__text-content {
  padding-top: 15rem;
  margin-left: 7rem;
  max-width: 86rem;

  @media (max-width: $tablet-width) {
    padding: 0;
    margin-left: 9rem;
    margin-top: 5rem;
  }

  @media (max-width: $mobile-width) {
    padding: 0;
    margin: 0 auto;
    max-width: 287px;
  }
}

.intro__text-content h1 {
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 0;
  letter-spacing: 0.07em;

  @media (max-width: $tablet-width) {
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 3rem;
  }

  @media (max-width: $mobile-width) {
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    margin-top: 0;
    color: white;
    margin-bottom: 2rem;
  }
}

.intro__text-content p {
  font-size: 22px;
  line-height: 34px;
  text-align: left;
  font-family: "PT Mono", "Arial", monospace;
  color: white;
  position: relative;
  padding-left: 9.5rem;

  @media (max-width: $tablet-width) {
    font-size: 18px;
    line-height: 28px;
    margin: 0;
    padding-left: 5rem;
  }

  @media (max-width: $mobile-width) {
    font-size: 16px;
    line-height: 25px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 2rem;
    width: 66px;
    height: 2px;
    background-color: white;

    @media (max-width: $tablet-width) {
      width: 33px;
    }
  }
}

.btn {
  font-weight: bold;
  display: block;
  font-size: 16px;
  line-height: 53px;
  text-align: center;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  text-transform: uppercase;
  background-color: $primary;
  letter-spacing: 0.05em;
  color: #ffffff;
  border-radius: 5px;
  margin-top: 4.6rem;
  margin-left: 9.7rem;
  max-width: 40.5rem;
  height: 5.6rem;

  @media (max-width: $tablet-width) {
    max-width: 38rem;
    margin-top: 5.6rem;
    margin-left: 5rem;
  }

  @media (max-width: $mobile-width) {
    max-width: 29rem;
    margin: 0;
    margin-top: 4rem;
  }

  &:hover,
  &:focus {
    background-color: darken($primary, 15%);
  }

  &:active {
    background-color: darken($primary, 20%);
  }
}

.not-mobile {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.mobile {
  @media (min-width: $mobile-width) {
    display: none;
  }
}

.intro__image {
  max-width: 705px;
  height: 515px;
  align-self: center;
  position: relative;

  @media (max-width: $tablet-width) {
    width: 465px;
    height: 340px;
    object-fit: cover;
    overflow: hidden;
    align-self: auto;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    height: 22rem;
    right: 0;
    order: -1;
  }
}

.intro__image img {
  width: 100%;
  height: 100%;

  @media (max-width: $tablet-width) {
    margin: 36px 0 0 0;
    height: 340px;
  }

  @media (max-width: $mobile-width) {
    margin: 2rem 0 0 2.2rem;
    height: 100%;
  }
}
