.nav {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 45% 55%;
  max-width: 142rem;
  padding-top: 4rem;
  padding-left: 1rem;
}

.nav__content {
  display: grid;
}

.nav__content--left {
  grid-template-columns: min-content 1fr;
  grid-column-gap: 1.5rem;
}

.nav__content--left a {
  grid-row: span 2;
  margin-top: -0.5rem;
}

.nav__content-text {
  outline: 5px solid red;
}




.nav__content p {
  margin: 0;
}

.nav__content a {
  color: white;
  margin-left: 1rem;

  &:hover,
  &:focus {
    color: $primary;
  }

  &:active {
    color: darken($primary, 15%);
  }
}

.nav__content--right {
  display: grid;
  grid-template-columns: 1fr 1fr min-content;
  align-items: center;
  justify-items: end;
  grid-gap: 5rem;
  margin-top: -1rem;
  outline: 5px solid red;

}



.mail__container {
  margin-right: 2rem;
}

.phone__container {
  margin-right: 3.8rem;
}

.nav__content--right button {
  height: 45px;
  width: 18rem;
  border: 1px solid white;
  background: transparent;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background-color: $primary;
  }
    &:active {
    background-color: darken($primary, 15%);
  }

}

.nav__content-text {
  margin-left: 1.5rem;
}

.nav__content b {
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  color: white;
}

.nav__content p {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #788891;

}



