.nav {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 45% 55%;
  max-width: 141rem;
  padding-top: 4rem;

  @media (max-width: $tablet-width) {
    grid-template-columns: 80% 20%;
    padding-top: 2.5rem;
  }

  @media (max-width: $mobile-width) {
    padding-top: 2.5rem;
    grid-template-columns: 64% 36%;
  }
}

.nav__content {
  display: grid;

  @media (max-width: $mobile-width) {
    margin-left: 1.5rem;
  }
}

.nav__content--left {
  grid-template-columns: min-content 1fr;
  grid-column-gap: 1.5rem;

  @media (max-width: $tablet-width) {
    margin-left: 2rem;
  }
}

.nav__content--left a {
  grid-row: span 2;
  margin-top: -0.5rem;
}

.nav__content p {
  margin: 0;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.nav__content-mail a,
.nav__content-phone a {
  color: white;
  margin-left: 1rem;

  &:hover,
  &:focus {
    color: $primary;
  }

  &:active {
    color: darken($primary, 15%);
  }
}

.nav__content-mail p,
.nav__content-phone p {

  font-family: "PT Mono", "Arial", monospace;
  display: inline-block;
  vertical-align: middle;
  margin-left: 1.2rem;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.nav__content--right {
  display: grid;
  grid-template-columns: 1fr 1fr min-content;
  align-items: center;
  justify-items: end;
  grid-gap: 5rem;
  margin-top: -1rem;

  @media (max-width: $tablet-width) {
    grid-gap: 2rem;
  }
}

.nav__content--left svg {
  width: 52px;
  height: 52px;

  @media (max-width: $mobile-width) {
    width: 38px;
    height: 38px;
  }
}

.nav__content--right svg {
  width: 22px;
  height: 22px;
}


.nav__content--right button {
  height: 45px;
  width: 18rem;
  border: 1px solid white;
  background: transparent;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;

  @media (max-width: $tablet-width) {
    display: none;
  }

  &:hover,
  &:focus {
    background-color: $primary;
  }

  &:active {
    background-color: darken($primary, 15%);
  }
}


.nav__content b {
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  color: white;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.nav__content--left p {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #788891;
}
