@import "vars";
@import "blocks/nav.scss";
@import "blocks/intro.scss";
@import "blocks/facts.scss";
@import "blocks/about.scss";
@import "blocks/services.scss";
@import "blocks/feedback.scss";
@import "blocks/footer.scss";
@import "blocks/modal.scss";

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-size: 1.6rem;
  min-width: 320px;
  margin: 0 auto;
  max-width: 1920px;
}

.main__image {
  background-image: url(".././img/intro.png");
  background-repeat: no-repeat;
  height: 880px;
  position: absolute;
  top: 0rem;
  width: 100%;
  z-index: -1;
  background-color: #1B2D37;
  background-position: center center;

  @media (max-width: $tablet-width) {
    height: 69rem;
  }

  @media (max-width: $mobile-width) {
    height: 65rem;
  }
}

.main__image a {
  display: none;

  @media (min-width: $tablet-width) {
    background-color: transparent;
    border: none;
    color: white;
    font-family: "PT Mono";
    font-size: 14px;
    line-height: 16px;
    opacity: 0.5;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 13rem;
    left: 21rem;
    z-index: 5;
  }
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local(''),
    url('../fonts/roboto-condensed-v19-latin_cyrillic-300.woff2') format('woff2'),
    url('../fonts/roboto-condensed-v19-latin_cyrillic-300.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/roboto-condensed-v19-latin_cyrillic-regular.woff2') format('woff2'),
    url('../fonts/roboto-condensed-v19-latin_cyrillic-regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../fonts/roboto-condensed-v19-latin_cyrillic-700.woff2') format('woff2'),
    url('../fonts/roboto-condensed-v19-latin_cyrillic-700.woff') format('woff');
}

@font-face {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/pt-mono-v8-latin_cyrillic-regular.woff2') format('woff2'),\
    url('../fonts/pt-mono-v8-latin_cyrillic-regular.woff') format('woff');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  white-space: nowrap; /* added line */
}
